@import "_rfs";

html, body {
  @include rfs(1.5rem);
}

.router-view {
  transition: all .5s ease;
  min-height: 100vh;
}

.router-enter, .router-leave {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

.router-view {
    transition: all .5s ease;
    min-height: 100vh;
  }

.router-enter, .router-leave {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
}

// --------------

@mixin custom-h1 {
  @include rfs(4rem);
  color: #00DD00;
}